<!DOCTYPE html>
<!--html documentation file-->
<html>
    <head> <title>Words Play</title></head>
    <body align="center">
        <h1>This is Word Play</h1>
        <form action="/analyzed" method="POST" >{% csrf_token %}
            <textarea name='text' style="margin: 0px; width: 765px; height: 150px;" ></textarea><br>
            <input type="checkbox" name="removepunc">Remove Punchuations<br>
            <input type="checkbox" name="extraspaceremover">ExtraSpace Remover <br>   
            <input type="checkbox" name="extralineremover">Remove line<br>   
            <input type="checkbox" name="allcaps">ALL CAPITAL<br>   
            <input type="checkbox" name="charcount">Character Count<br>       
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
